$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);

$accent01: hsl(224, 93%, 58%);
$accent02: hsl(170, 45%, 43%);

$neutral01: hsl(240, 75%, 98%);
$neutral02: hsl(0, 0%, 75%);

//fonts
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;